<article class="card">
  <div class="card-background--primary">
    <p class="paragraph__about">
      My name is Psoccrates Stansberry. I am a front end developer that enjoys
      building modern responsive websites. I love coding, art, tech,
      mathematics, and learning new skills.
      <br />
      <br />
      I have knowledge of HTML, CSS, JavaScript, Web Pack 5, Photoshop, and
      Illustrator in Adobe CC:
    </p>
    <span class="card__icons">
      <img
        class="icon-container icon icon--card"
        src="/src/images/html5-logo.svg"
        alt=""
      />
      <img
        class="icon-container icon icon--card"
        src="/src/images/css3-logo.svg"
        alt=""
      />
      <img
        class="icon-container icon icon--card"
        src="/src/images/es6-logo.svg"
        alt=""
      />
      <img
        class="icon-container icon icon--card"
        src="/src/images/webpack-logo.svg"
        alt=""
      />
      <img
        class="icon-container icon icon--card"
        src="/src/images/adobe-cc-logo.svg"
        alt=""
      />
    </span>
    <ul class="card__links">
      <li>
        <a
          class="project__links"
          href="#"
          target="_blank"
          rel="noponener noreferrer"
          >&lt Resume /&gt</a
        >
      </li>
      <li>
        <a
          class="project__links"
          href="https://www.linkedin.com/in/psoccrates-stansberry"
          target="_blank"
          rel="noponener noreferrer"
          >&lt LinkedIn /&gt</a
        >
      </li>
    </ul>
  </div>
  <div class="card-background--accent">
    <picture>
      <source type="image/png" srcset="/src/images/about-photo.png" />
      <source type="image/webp" srcset="/src/images/about-photo.webp" />
      <img
        class="image--about"
        src="/src/images/about-photo.png"
        alt="Psoccrates Stansberry profile picture"
      />
    </picture>
  </div>
</article>
