<header class="hero">
  <nav class="nav">
    <div class="right-square--one"></div>
    <div class="right-square--two"></div>
    <div class="right-square--three"></div>
  </nav>
  <span class="icon-container">
    <img
      class="icon-container portfolio-icon"
      src="/src/images/portfolio-logo.svg"
      alt="Psoccrates portfolio logo"
    />
  </span>
  <div class="hero__header">
    <h1>
      Front
      <span class="typography-color--accent--secondary">End Developer</span>.
    </h1>
    <p class="paragraph__header">Where design meets logic.</p>
  </div>
  <div class="left-square--one"></div>
  <div class="left-square--two"></div>
  <div class="left-square--three"></div>
</header>
