<article class="card">
  <div class="card-background--primary">
    <div class="card__description">
      <h3>
        Easybank
        <span class="typography-color--accent--secondary">Landing Page</span>.
      </h3>
      <p class="paragraph__projects">
        This project was built with vanilla HTML, CSS, and JavaScript. The
        mobile and desktop design was provide by Front End Mentor. The tablet
        design was interpreted. This project was excellent for learning modal
        implementation, and utilizing breakpoints that fit the design and
        provide the user with the best experience.
      </p>
    </div>
    <ul class="card__links">
      <li>
        <a
          class="project__links"
          href="http://easy-bank.psoccratesstudio.com/"
          target="_blank"
          rel="noponener noreferrer"
          >&lt Website /&gt</a
        >
      </li>
      <li>
        <a
          class="project__links"
          href="https://github.com/Psoccrates/easybank-landing-page.git"
          target="_blank"
          rel="noponener noreferrer"
          >&lt Github /&gt</a
        >
      </li>
    </ul>
  </div>
  <div class="card-background--accent">
    <picture>
      <source type="image/jpg" srcset="/src/images/easybank-project.jpg" />
      <source type="image/webp" srcset="/src/images/easybank-project.webp" />
      <a
        href="http://easy-bank.psoccratesstudio.com/"
        target="_blank"
        rel="noponener noreferrer"
      >
        <img
          class="image--projects"
          src="/src/images/easybank-project.jpg"
          alt="Easybank Landing Page project"
        />
      </a>
    </picture>
  </div>
</article>
